<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zwu.usermodel.mapper.UserMapper">
    <resultMap id="selAll" type="User">
        <id property="id" column="id"></id>
        <collection property="roles" column="id" select="cn.edu.zwu.usermodel.mapper.RoleMapper.getAllRoleName"></collection>
    </resultMap>
    <select id="selAllUser" resultMap="selAll">
        select * from t_user_info where is_deleted=0
    </select>

    <update id="delUser" parameterType="integer">
        update
            t_user_info
        set
            is_deleted=1
    </update>
    <update id="updUser" parameterType="User">
            update
                t_user_info
            set
                username=#{username},
                name=#{name},
                gender=#{gender},
                phoneNum=#{phoneNum},
                email=#{email},
                id_card=#{idCard},
                password=#{password},
                sort_no=#{sortNo},
                gmt_modified=#{gmtModified},
                last_modified_by=#{lastModifiedBy},
                version=#{version}
            where
                id=#{id}
    </update>
    <insert id="insUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_user_info
        values(
              default ,
              #{username},
              #{name},
              #{gender},
              #{phoneNum},
              #{email},
              #{idCard},
              #{password},
              #{sortNo},
              #{gmtCreate},
              #{createBy},
              #{gmtModified},
              #{lastModifiedBy},
              #{version},
              #{isDeleted}
        )
    </insert>

</mapper>