<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
    <!--新增用户-->
    <insert id="saveUser" parameterType="com.example.demo.entity.UserInfo">
        insert into t_sys_user
            (id,
            user_acct,
            user_name,
            sex,
            phone,
            email,
            id_card,
            is_deleted,
            sort_no,
            gmt_create,
            create_by,
            gmt_modified,
            last_modified_by,
            version,
            user_pwd
            )
        values
           (#{id},
            #{userAcct},
            #{userName},
            #{sex},
            #{phone},
            #{email},
            #{idCard},
            #{isDeleted},
            0,
            now(),
            #{createBy},
            NOW(),
            #{createBy},
            0,
            #{userPwd})
    </insert>
    <!--删除-->
    <delete id="deleteUser" parameterType="com.example.demo.entity.UserInfo">
         delete from t_sys_user where id=#{id}
    </delete>

    <!--修改-->
    <update id="updateUser" parameterType="com.example.demo.entity.UserInfo">
        update t_sys_user set
        (user_acct=#{userAcct},
        user_name=#{userName},
        sex=#{sex},
        phone=#{phone},
        email=#{email},
        id_card=#{idCard},
        is_deleted=#{isDeleted},
        sort_no=0,
        gmt_create=now(),
        create_by=#{createBy},
        gmt_modified= NOW(),
        last_modified_by=#{createBy},
        version=0,
        user_pwd=#{userPwd})
        where
        (id=#{id})
    </update>

    <!--查询-->
    <select id="listUserInfo" resultType="com.example.demo.entity.UserInfo" parameterType="com.example.demo.entity.UserInfo">
        select if(sex=0,'男','女') as sex,user_name,user_acct from t_sys_user where user_name=#{userName} and is_deleted=0
    </select>
</mapper>